/* GENERALES */

* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(./fondo.jpg);
    color: white;
}

.contenedor {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 70px;
}

a {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

.w-25 {
    width: 25%;
}

.w-100 {
    width: 100%;
}

.clearfix {
    clear: both;
}

/* HEADER */

.header {
    height: 150px;
    background: url(./cabecera.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}

header p {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 70px;
    font-weight: bold;
    font-style: italic;
}

/* Informacion principal */

#mensaje-principal {
    text-align: center;
    border-bottom: 1px solid white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 5px;
    font-size: 50px;
}

h2 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 39px;
    font-weight: bold;
}

.mensaje {
    font-size: 25px;
}

.informacion-partida {
    height: 50px;
}

.informacion-partida h2 {
    float: left;
    padding: 10px;
    font-size: 45px;
}

.informacion-partida h2 span {
    font-style: italic;
}

.informacion-partida h3 {
    float: right;
    padding: 10px;
    font-size: 38px;
}

.contenedor-seccion {
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.contenedor-seccion h4 {
    padding-top: 10px;
    font-size: 25px;
    text-align: center;
}

/* TABLA DE INFORMACION */

table {
    width: 100%;
    text-align: center;
    border: 2px solid silver;
}

table caption {
    font-size: 40px;
    font-style: italic;
}

#inicial th {
    padding: 5px;
    font-size: 30px;
}

td {
    border-top: 1px solid wheat;
    padding: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
}

.mensaje-eliminado {
    font-size: 30px;
    color: wheat;
    font-weight: bold;
}

/* Botones de acción */

.botones {
    padding: 20px;
    margin-bottom: 20px;
    height: auto;
    width: 40%;
}

.boton-div {
    margin-bottom: 20px;
    clear: both;
    width: 100%;
    height: 50%;
}

.boton {
    padding: 20px;
    background: #555;
    border-radius: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    display: inline-block;
    text-align: center;
    color: white;
    margin-bottom: 5px;
    margin-right: 5px;
}

.boton:hover {
    cursor: pointer;
}

.boton-final {
    clear: both;
    float: none;
    text-align: center;
}

#formulario-eliminar {
    margin-top: 25px;
    margin-bottom: 75px;
}

#formulario-eliminar form h3 {
    text-align: center;
    font-size: 30px;
}

/* FOOTER */

#footer {
    position: relative;
    clear: both;
    height: 75px;
    background: rgb(46, 46, 46);
    text-align: center;
    font-size: 20px;
    padding: 15px;
    bottom: 0;
}

#footer p {
    padding-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* FORMULARIOS */

.form-container {
    width: 80%;
    margin-bottom: 75px;
}

.form-control {
    width: 95%;
    padding: 15px;
}

.form-control p{
    padding: 10px;
    font-size: 20px;
    font-style: italic;
}

.form-control label {
    width: 100%;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
}

.form-control input {
    width: 90%;
    margin-top: 10px;
    padding: 7.5px;
    font-size: 25px;
}

.form-control select {
    width: 100%;
    margin-top: 10px;
    padding: 7px;
    font-size: 20px;
}

.form-control input[type='number'] {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.form-control input[type='text'] {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input[type='submit'] {
    float: right;
    padding: 10px;
    color: white;
    margin-right: 30px;
    width: 25%;
    margin: 0 auto;
    margin-right: 10%;
}

#finTurno{
    margin-bottom: 70px;
}

/* SECCION GANADOR JUEGO */

.datos-juego {
    width: 60%;
    float: left;
}

.datos-juego h3 {
    font-size: 30px;
    display: flex;
    justify-content: left;
}

.contenedor-turno-final {
    width: 35%;
    float: right;
    margin-bottom: 65px;
}

.turnos-final {
    font-size: 30px;
    display: flex;
    justify-content: right;
}

.datos-ganador {
    display: block;
    margin-bottom: 50px;
    width: 50%;
    float: left;
}

.datos-ganador .boton{
    margin-top: 15px;
}

.boton-final-div {
    display: block;
    float: right;
}

.boton-final {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.moneda{
    font-style: italic;
}

.nombre-eliminado{
    color: rgb(212, 91, 91);
}